@import url('https://fonts.googleapis.com/css2?family=Lateef&display=swap');
@media (min-width: 768px){
    .carousel-inner .active,
    .carousel-inner .active + .carousel-item,
    .carousel-inner .active + .carousel-item + .carousel-item {
        display: block;
    }

    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item,
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item {
        transition: none;
    }
    
    .carousel-inner .carousel-item-next,
    .carousel-inner .carousel-item-prev {
        position: relative;
        transform: translate3d(0, 0, 0);
    }

    .carousel-inner .active.carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -33.3333%;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    
    .active.carousel-item-left + .carousel-item-next.carousel-item-left,
    .carousel-item-next.carousel-item-left + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    
    .carousel-inner .carousel-item-prev.carousel-item-right {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    
    .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
    .carousel-item-prev.carousel-item-right + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
    }
}

#logo{
    height: 200px;
    width: 300px;
    text-align: center;
}

#language{
    margin: 0px 20px ;
    float: right;
}

#sign{
    margin: 0px 20px;
    float: left;
}

#navbarSupportedContent{
    font-size: 18px;
}

#spacing{
    font-size: 18px;
    margin: 0px 15px;
}

#space{
    margin: 0px auto;
}

.parallax{
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 100%), url("images/AI.jpg");
    height: 500px; 
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.str{
    font-size: 55px;
}

.txt-en{
    color: rgb(255, 255, 255);
    font-size: 20px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    padding-top: 8%;
}

.a-r{
    color: rgb(255, 255, 255);
    font-size: 38px;
    font-family: 'Lateef', cursive;
    padding-top: 10%;
}

.news{
    margin-top: 10%;
    font-size: 40px;
    color: blue;
    text-align: center;
    font-family: 'Lateef' cursive;
}

.card{
    margin: 6%;
    width: 90%;
}

#footer{
    text-align: center;
    height: 70px;
    margin-top: 100px;
    background:#0289d4;
    color:white; 
}