#logo{
    
    height: 200px;
    width: 300px;
    text-align: center;
}

#language{
    margin: 0px 20px ;
    float: right;
}

#sign{
    margin: 0px 20px;
    
    float: left;
}

#navbarSupportedContent{
    font-size: 18px;
    margin-left: 530px;
}

#FAQ{
    margin: 30px 30px;

}

.bg-cover{
    background-attachment: static;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}


.card{
    margin: 30px 0px;
}

#footer{
    text-align: center;
    height: 70px;
    margin-top: 100px;
    background:#0289d4;
    color:white; 
}